/* ascii.html styles. */
/* Author: Mugisha Stephen */

body{
    background-color: #CCCCFF;
}

h1{
    margin: 0;
    text-align: center;
}

textarea{
    width: 90%;
    height: 400px;
    margin: auto 5%;
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;
}

fieldset{
    border: 5px solid #000;
    border-radius: 10px;
    display: inline;
    font-weight: bold;
}

.controls{
    text-align: center;
    margin: 0 auto;
}